*{
    margin:0;
    padding: 0;
    font-family: 'Poppins', sans serif;
    box-sizing:border-box;
}


body{
    background-color:burlywood;
    color: black;
}


#header{
    width: 100%;
    height: 100vh;
    background-image: url(https://wallpapercave.com/wp/wp6400060.jpg);
    background-size: cover;
    background-position: center;
}



.aesthetic span{
    color:black;
    font-family: 'Righteous', cursive;
}

h1{
    color:aquamarine;
    font-family: 'Righteous', cursive;
}



.header-text p{
    font-family: 'Righteous', cursive;
    color:aliceblue;
}


h2{
    color: black;
    font-family: 'Montserrat';
}


.container{
    padding: 10px 10%;
}


nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}


nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}


nav ul li a{
    color: antiquewhite;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Quicksand';
    position: relative;
}


nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background:blue;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}



nav ul li a:hover::after{
    width: 100%;
}


.header-text{
    margin-top: 20%;
    font-size: 30px;
}


.header-text h2{
    font-size: 60px;
    margin-top: 20px;
}


.header-text p{
    color: black;
}


.header-text h2 span{
    color:blue;
    font-family: 'Sofia';
}


/*-------about------*/

#about{
    padding: 80px 0;
    color:antiquewhite;
}


.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.about-col-1{
    flex-basis: 35%;
}


.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}


.about-col-2{
    flex-basis: 60%;
}


.sub-title{
    font-size: 60px;
    font-weight: 600;
    color:deepskyblue;
    font-family: 'Sofia';
}


.lorem{
    font-family: 'Montserrat';
}


.tab-titles{
    display:flex;
    margin: 20px 0 40px;
}

.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    font-family: 'Righteous', cursive;
}


.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background-color:fuchsia;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}


.tab-links.active-link::after{
    width:50%;
}


.tab-contents li{
    list-style: none;
    margin: 10px 0;
    font-family: 'Quicksand';
}



.tab-contents ul li span{
    color:blueviolet;
    font-size: 14px;
    font-family: 'Righteous', cursive;
}


.tab-contents{
    display: none;
}


.tab-contents.active-tab{
    display: block;
}


/*--------services----------*/

#services{
    padding: 30px 0;
}


.services-list{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin: 50px;
}


.services-list div{
    background: dodgerblue;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
    
}


.services-list h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}


.services-list div a{
    text-decoration: none;
    color: magenta;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}


.services-list div:hover{
    background-color: cornflowerblue;
    transform: translateY(10px);
}


.services-list p{
    font-family: 'Montserrat';
}


.services-list a{
    font-family: 'Righteous';
}


.services-list a:hover{
    color:crimson;
}


/*---portfolio---*/


#portfolio{
    padding: 50px 0;
}


.work-list{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin: 50px;
}


.work{
    border-radius: 10px;
    position:relative;
    overflow: hidden;
}


.work img{
    width:100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}


.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), bisque);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    color: aliceblue;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}


.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
    font-family: 'Righteous', cursive;
    color:darkturquoise;
}


.layer p{
    font-family: 'Quicksand';
}


.work:hover img{
    transform: scale(1.1);
}


.work:hover .layer{
    height: 100%;
}


.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid coral;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: black;
    font-family: 'Righteous', cursive;
    background-color:coral;
    transition:background 0.5s;
}


.btn:hover{
    background: chocolate;
}



/*----contact----*/
.contact-left{
    flex-basis: 35%;
}


.contact-right{
    flex-basis: 60%;
}


.contact-left p{
    margin-top: 30px;
}


.social-icons{
    margin-top: 30px;
}


.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color:crimson;
    display: inline-block;
    transition: transform 0.5s;
}


.social-icons a:hover{
    color: blue;
    transform: translateY(-5px);
}


.btn.btn2{
    display: inline-block;
    background: crimson;
}


.contact-right form{
    width:100%;
}


form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: bisque;
    padding: 15px;
    margin: 15px 0;
    color:black;
    font-family: 'Quicksand';
    font-size: 18px;
    border-radius: 6px;
}


form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}


.contact-left p{
    font-family: 'Righteous';
}


.copyright{
    font-family: 'Righteous';
    width: 100%;
    text-align: center;
    padding: 25px;
    background: coral;
    font-weight: 300;
    margin-top: 20px;
}


/* -------css for media screens------*/


@media only screen and (max-width: 600px){
    #header{
        background: url(https://wallpapercave.com/wp/wp6400060.jpg);
    }
    .header-text{
        margin-top: 100%;
        font-size: 16px;
    }
    .header-text h1{
        font-size: 30px;
    }
}